:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: gainsboro;
}

.content {
    /* Center everything ever */
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#grid {
    display: grid;
    width: 500px;
    height: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 10px;
    cursor: url(Pen-3-icon.png), default;
}

.grid-item {
    user-select: none;
    border: 1px solid lightgray;
}

.settings {
    display: flex;
    gap: 1em;
    margin: 1.5em 0;
}

.selected {
    background: rgb(65, 65, 65);
    color: white;
}

